[submodule "include/swan"]
	path = include/swan
	url = https://github.com/ds-pokemon-hacking/swan
[submodule "tools/pyidbutil"]
	path = tools/pyidbutil
	url = https://github.com/nlitsme/pyidbutil
[submodule "include/PW2Code"]
	path = include/PW2Code
	url = https://github.com/MCMi460/PW2Code
